.about {
  background-color: hsla(300, 100%, 50%, .4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

.profile-card {
  width: 480px;
  max-width: calc(100vw - 10px);
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

html{
  font-family: Marmelad;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.imgur.com/r8mENLd.jpg') no-repeat center center fixed;
  background-size: cover;
  }

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(30%);
}

.profile-image {
  margin-top: -60px;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.head, .about {
  margin-bottom: 0%;
}

.content {
  padding: 5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

h2 {
  font-size: 15px;
  margin-bottom: 5px;
}

span {
  font-weight:lighter;
  font-size: 13px;
}

p {
  margin-bottom: 5%;
}

a {
  color: #595959;
  font-size: 25px;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(5%);
}




  
  














